@{
    ViewData["Title"] = "Home Page";
}
<style>
    #imgMain {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:70%;
    }
</style>
<img id ="imgMain" src="~/iSchool_story_image_0.jpg" alt="students working together" style="height:500px;text-align:center" />
<h1> Welcome to iSchool Website!</h1>
<p>
    There are a couple of pages for you to check this website out! The following features in this website can be found in this page:
</p>
<ul>
    <li>See positive feedbacks from employers working aside with students for co-op opportunities!</li>
    <li>Lists of Faculty and Staff that help bring iSchool positive experience for students at GCCIS!</li>
    <li>Find information about your degree or minor if you plan on getting one!</li>
    <li>Explore many companies that students from iSchool worked for!</li>
    <li>Need something more? We provided resources for you to find other opportunities or to learn more about our people at iSchool!</li>
</ul>
<div class="text-center">
    <h1 class="display-4">Information about ASP.NET Core</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
