@model iSchoolWebApp.Models.Resources.ResourcesRoot;
@{
    ViewData["Title"] = "Resources";
}

<h1>Resources</h1>
<!--
    The reason I didnt continue implementing this piece
    due to many information that could've been easily received.
    However, it decided to say it does not exist and attempted
    both similar codes from getAbout and any get classes that uses dictionary and lists.
-->
<!--foreach (var place in Model.studyAbroadInfo.places)
{

    <h4>place.nameOfPlace</h4>
    <p>place.description</p>-->
